apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: pipeline
  namespace: openshift-gitops
spec:
  destination:
    namespace: sphinx
    server: https://kubernetes.default.svc
  project: default
  source:
    directory:
      jsonnet: {}
      recurse: true
    path: argocd/gitlab
    repoURL: http://root:plschange@gitlab-ee.gitlab.svc/ansible-rubegoldberg/pipeline.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
