apiVersion: v1
items:
- apiVersion: v1
  kind: PersistentVolumeClaim
  metadata:
    name: {{ awx_pg_service }}-claim
    namespace: {{ awx_namespace }}
  spec:
    accessModes:
    - ReadWriteOnce
    resources:
      requests:
        storage: {{ pvs['awx-postgres']['size_gb'] }}Gi
    storageClassName: awx-postgres
    volumeMode: Filesystem
- apiVersion: v1
  kind: Secret
  metadata:
    annotations:
      template.openshift.io/expose-database_name: '{.data[''database-name'']}'
      template.openshift.io/expose-password: '{.data[''database-password'']}'
      template.openshift.io/expose-username: '{.data[''database-user'']}'
    labels:
      template: postgresql-ephemeral-template
    name: {{ awx_pg_service }}
    namespace: {{ awx_namespace }}
  stringData:
    database-name: {{ awx_pg_db }}
    database-password: {{ awx_pg_password }}
    database-user: {{ awx_pg_user }}
- apiVersion: v1
  kind: Service
  metadata:
    annotations:
      template.openshift.io/expose-uri: postgres://{.spec.clusterIP}:{.spec.ports[?(.name=="postgresql")].port}
    labels:
      template: postgresql-ephemeral-template
    name: {{ awx_pg_service }}
    namespace: {{ awx_namespace }}
  spec:
    ports:
    - name: postgresql
      nodePort: 0
      port: 5432
      protocol: TCP
      targetPort: 5432
    selector:
      name: {{ awx_pg_service }}
    sessionAffinity: None
    type: ClusterIP
  status:
    loadBalancer: {}
- apiVersion: apps.openshift.io/v1
  kind: DeploymentConfig
  metadata:
    annotations:
      template.alpha.openshift.io/wait-for-ready: "true"
    labels:
      template: postgresql-ephemeral-template
    name: {{ awx_pg_service }}
    namespace: {{ awx_namespace }}
  spec:
    replicas: 1
    selector:
      name: {{ awx_pg_service }}
    strategy:
      type: Recreate
    template:
      metadata:
        labels:
          name: {{ awx_pg_service }}
      spec:
        containers:
        - capabilities: {}
          env:
          - name: POSTGRESQL_USER
            valueFrom:
              secretKeyRef:
                key: database-user
                name: {{ awx_pg_service }}
          - name: POSTGRESQL_PASSWORD
            valueFrom:
              secretKeyRef:
                key: database-password
                name: {{ awx_pg_service }}
          - name: POSTGRESQL_DATABASE
            valueFrom:
              secretKeyRef:
                key: database-name
                name: {{ awx_pg_service }}
          image: ' '
          imagePullPolicy: IfNotPresent
          livenessProbe:
            exec:
              command:
              - /usr/libexec/check-container
              - --live
            initialDelaySeconds: 120
            timeoutSeconds: 10
          name: postgresql
          ports:
          - containerPort: 5432
            protocol: TCP
          readinessProbe:
            exec:
              command:
              - /usr/libexec/check-container
            initialDelaySeconds: 5
            timeoutSeconds: 1
          resources:
            limits:
              memory: 512Mi
          securityContext:
            capabilities: {}
            privileged: false
          terminationMessagePath: /dev/termination-log
          volumeMounts:
          - mountPath: /var/lib/pgsql/data
            name: {{ awx_pg_service }}-data
        dnsPolicy: ClusterFirst
        restartPolicy: Always
        volumes:
        - persistentVolumeClaim:
            claimName: {{ awx_pg_service }}-claim
          name: {{ awx_pg_service }}-data
        #- emptyDir:
        #    medium: ""
        #  name: {{ awx_pg_service }}-data
    triggers:
    - imageChangeParams:
        automatic: true
        containerNames:
        - postgresql
        from:
          kind: ImageStreamTag
          name: postgresql:latest
          namespace: openshift
        lastTriggeredImage: ""
      type: ImageChange
    - type: ConfigChange
  status: {}
kind: List
metadata: {}
