apiVersion: v1
baseDomain: {{ ocp_basedomain }}
compute:
- name: worker
  replicas: 0
controlPlane:
  name: master
  replicas: 1
metadata:
  name: {{ ocp_clustername }}
networking:
  clusterNetwork:
  - cidr: {{ ocp_clusternetwork }}
    hostPrefix: 23
  networkType: OVNKubernetes
  serviceNetwork:
  - {{ ocp_servicenetwork }}
platform:
  none: {}
bootstrapInPlace:
  installationDisk: {{ ocp_installationdisk }}
pullSecret: |
        {{ ocp_pullsecret }}
sshKey: |
        {{ ocp_sshkey }}
