apiVersion: v1
baseDomain: {{ ocp_basedomain }}
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  platform: {}
  replicas: 0
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  platform: {}
  replicas: 1
metadata:
  name: {{ ocp_clustername }}
networking:
  clusterNetwork:
  - cidr: {{ ocp_clusternetwork }}
    hostPrefix: 23
  machineNetwork:
  - cidr: {{ ocp_machinenetwork }}
  networkType: OpenShiftSDN
  serviceNetwork:
  - {{ ocp_servicenetwork }}
platform:
  none: {}
BootstrapInPlace:
  InstallationDisk: {{ ocp_installationdisk }}
publish: External
pullSecret: |
        {{ ocp_pullsecret }}
sshKey: |
        {{ ocp_sshkey }}
