---
apiVersion: apps.gitlab.com/v1beta1
kind: GitLab
metadata:
  name: example
spec:
  chart:
    version: {{ gitlab_chart_version }}
    values:
      global:
        hosts:
          domain: apps.{{ ocp_clustername }}.{{ ocp_basedomain }}
